@import url("https://use.typekit.net/xbv3jvp.css");

body {
	font-family: "neue-haas-unica", sans-serif;
		font-weight: 400;
		font-size: 14px;
  	line-height: 20px;
	background-color: #f8f8f8;
	margin-top: 200px;
	/*margin-right: 100px;*/
	margin-bottom: 200px;
	/*margin-left: 100px;*/
	font-style: normal;
	font-weight: 500;
  	color: #000;
}
.overall {
	position: absolute;
	width: 100% !important;
	top: 0;
	left: 0;
	vertical-align: center;
	align-items: center;
	box-sizing: border-box !important;
}

/* Text */
h1 {
	font-family: neue-haas-grotesk-display, "Helvetica-Neue", sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: 50px;
	letter-spacing: 5px;
}
h4 {
	color: #1a1a1a;
	font-weight: 500;
	font-size: 25px;
	padding: 10px 0 0 0;
	margin: 0;
}
h5 {
	font-size: 20px;
	font-style: italic;
	text-transform: lowercase;
	margin: 5px 0 15px 0;
}
h6 {
	color: #1a1a1a;
	font-size: 18px;
	text-transform: lowercase;
	padding: 10px 0 5px 0;
	margin: 0;
}

/* Text Classes */
#header {
	margin-top: 10%;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	margin-bottom: 10px;
	width: 55%;
}
#header a {
	text-decoration: none !important;
	box-shadow: none;
	color: rgba(0,0,0,0.0);
}
#header img{
   text-decoration: none !important;
   border: 0px !important;
   outline: none;
   border-width: 0px;
   outline-width: 0px;
   border-bottom: none;
	 box-shadow: none;
}
.project {
	text-align: center;
	text-transform: capitalize;
	line-height: normal;
	width: 80%;
	margin: auto;
}
.description {
	margin: 10px auto 0 auto;
	font-family: orpheuspro, aktiv-grotesk, serif;
	font-weight: 300;
	font-style: italic;
	text-align: justify;
	width: 70%;
}
.projectcontainer {
	width: 40%;
	height: auto;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	font-family: aktiv-grotesk, "Helvetica Neue", "Helvetica", "Franklin Gothic", "Arial", sans-serif;
	font-weight: 500;
	font-style: normal;
	letter-spacing: 1px;
	text-align: center;
	line-height: 22px;
	background-color: rgba(0,0,0,0.0);
}

/* Links */
a {
	text-decoration: none;
	color: #1a1a1a;
	-webkit-transition: all .3s linear;
	-moz-transition: all .3s linear;
	-ms-transition: all .3s linear;
	-o-transition: all .3s linear;
	transition: all .3s linear;
}
a:hover {
	font-style: italic;
	letter-spacing: 2px;
}
.project a:hover {
	font-family: whitman-display, serif;
	line-height: 1.25;
}
.glowlink {
	margin: auto;
	text-align: center;
}
.glowlink a {
	color: #595959;
	text-decoration: none;
	-webkit-transition: all .3s linear;
	-moz-transition: all .3s linear;
	-ms-transition: all .3s linear;
	-o-transition: all .3s linear;
	transition: all .3s linear;
}
.glowlink a:hover {
	color: #fff;
	text-shadow: 0 0 15px #000;
}
mark {
	background-color: #595959;
	color: #fff;
	padding-left: 2px;
	padding-right: 1px;
}

/* For Flexible Display*/
@media only screen and (max-width: 1200px) {
	.overall {
		margin-bottom: 30px;}
	.projectcontainer {
		width: 60%;
		margin-left: auto;
		margin-right: auto;
		margin-top: 3%;
		margin-bottom: 5%;
		height: auto;
		background-color: rgba(0,0,0,0.0);
	}
}
@media only screen and (max-width: 950px) {
	#header {
		margin-top: 10%;
		margin-left: auto;
		margin-right: auto;
		text-align: center;
		margin-bottom: 10px;
		width: 100%;
	}
}
@media only screen and (max-width: 700px) {
	.projectcontainer {
		width: 100%;
		margin-left: auto;
		margin-right: auto;
		height: auto;
		margin-top: 20px;
		background-color: rgba(0,0,0,0.0);
		margin-bottom: 5%;
		}
}
